<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target="#toc" data-offset="60">

    {% include nav.html %}

    <header class="text-center text-white d-flex bg-primary" style="min-height:50%; background-image: none;">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>{{ page.title }}</strong>
          </h1>
        </div>
      </div>
    </div>

    </header>

    <section class="" id="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <nav id="toc" data-toggle="toc" class="sticky-top" style="top: 60px">
          </nav>
        </div>

          <style>
            /* As we have a fixed navbar on top just add so padding so we are sure 
            that the text is visible when accessed from anchor link */
            .pagecontent h1, .pagecontent h2, .pagecontent h3, .pagecontent h4
            {
              padding-top:60px;
            }
          </style>
        <div class="col-sm-9 pagecontent">
          {{ content }}
        </div>
      </div>
    </div>
    </section>
    {% include scripts.html %}
    <!-- add after bootstrap.min.js -->
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js"></script>
  </body>

</html>
