<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/moon.min.css">
 <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/beige.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/black.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/beige.min.css">
//-->>
  </head>
  <body>
 <!--
<div class="reveal">
  <div class="slides">
    <textarea data-markdown data-template
                data-separator="^\n===\n"
                data-separator-vertical="^\n[|][|][|]\n"
                data-separator-notes="\n^Note:"
                data-charset="iso-8859-15">
        {{ page.content }}
    </textarea>
  </div>
</div>
-->
<div class="reveal">
  <div class="slides">
    <textarea data-markdown data-template
                data-separator="^\n====*\n"
                data-separator-vertical="^\n[|][|][|][|]*\n"
                data-separator-notes="\n^Note:"
                data-charset="iso-8859-15">
        {{ page.content }}
    </textarea>
  </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/plugin/markdown/markdown.js"></script>
    <script>
(function() {
      Reveal.initialize();
})();

    </script>
  </body>
</html>
